/* RESET CSS */

*{
    margin:0;
    padding: 0;
    border: 0;
    box-sizing:border-box;
}
li{
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
a{
    display: block;
}
p a {
    display: inline;
}
img{
    display: block;
    width: 100%;
    height: initial;
}
h1 , h2 , h3 , h4 , h5 , h6{
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    color:inherit;
    text-decoration: none;
    background-color: inherit;
}
p , strong , em , mark , a{
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    color:inherit;
    text-decoration: none;
    background-color: inherit;
}

:root{
    font-size: 100%;
}

body{
    font-family: "Open Sans", sans-serif;
    position: relative;
}


.u-positionRelative{
    position: relative;
}

.u-rowSpaceBetweenCenter{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.u-rowCenterCenter{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

/* HEADER */

.Header{
    width: 100%;
    background-color: white;
    padding: 1.875rem 3.5rem;
    position: fixed;

    z-index: 2;
}

.Header-h1{
    max-width: 3.75rem;
}

.Header-img{
    object-fit: cover;
}

.Nav{
    font-size: .75rem;
    font-weight: 600;
}

.Header-a--menu{
    display: none;
}

.Nav-ul{
    gap: 1.875rem;
}

.Nav-a::after , .Article-a--showMore::after, .Footer-a--rrss::after{
    content: '';
    width: 0;
    height: 1px;
    background-color: black;
    
    position: absolute;
    bottom: 0;
    left: 0;
    
    transition: width 0.3s ease-out;
}

.Nav-a:hover::after, .Article-a--showMore:hover::after, .Footer-a--rrss:hover::after{
    width: 100%;
}

.Nav-a.isActive::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
}

/* MAIN */

.Main{
    padding: 1.875rem 0 0 0;
}

.Article-h2{
    max-width: 60rem;
    padding: 3.5rem;

    font-size: 1.125rem;
    word-spacing: 3px;
}

.Article-div--imgs{
    width: 100%;

    padding: 0rem 3.5rem;

    display: grid;
    grid-template-columns: repeat( 4, 1fr);
    gap: 1rem;

    z-index: 1;
}

.Article-img {
    height: 100%;
    transition: filter 0.3s ease;
}

.Article-img:hover{
    filter: drop-shadow(1px 1px 0px black);
}

.Article-div--showMore{
    margin: 2rem 0;
}

.Article-a--showMore{
    color: black;
}

.Article-svg{
    width: .8125rem;
    height: .8125rem;
}

/* FOOTER */

.Footer-a--icon{
    position: absolute;
    top: -0.625rem;
    right: 1.25rem;
}

.Footer-div{
    margin: 0 3.5rem 0;
    padding: 1.25rem 0;
    border-top: 1px solid lightgray;

    font-size: .75rem;
}

.Footer-ul{
    gap: 1.25rem;
}

/* @MEDIA */

/* 3 columnas */
@media (max-width:1024px){
    .Nav{
        display: none;
    }
    .Header-a--menu{
        display: inline;
    }

    .Article-div{
        grid-template-columns: repeat( 3, 1fr);
    }

    .Footer-div{
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;

    }
}

/* 2 columnas */
@media (max-width:768px){

    .Article-div{
        grid-template-columns: repeat( 2, 1fr);
    }
    
}

/* 1 columna */
@media (max-width:480px){
    .Article-div{
        grid-template-columns: repeat( 1, 1fr);
    }

    .Article{
        margin: 0 0 1rem;
    }
}